@charset "utf-8";

:root {
  --main-font : 'Arita-dotum';
  --sub-font: 'Philosopher';
  --main-color: #a89079;
  --sub-color: #758246;
  --hover-color: #67625e;
}

body { color: #000; line-height: 1.5; font-size: 1.6rem; font-family: 'Philosopher', 'Arita-dotum', sans-serif; }

.inner { max-width: 1700px; padding: 0 5%; margin: 0 auto; }

.all_wrap { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: var(--hover-color); z-index: 50; text-align: center; }
.all_wrap h3 { font-size: 10rem; color: var(--main-color); padding: 100px 0 50px; }
.all_wrap .all_gnb { display: flex; gap: 50px; justify-content: center; }
.all_wrap .all_gnb > li > a { width: 200px; display: block; font-size: 3rem; color: #fff; border-bottom: 1px solid rgba(255,255,255,0.2); padding: 20px 0; }
.all_wrap .all_gnb > li .all_depth2 li a { display: block; color: rgba(255,255,255,0.5); padding: 5px 0; }
.all_wrap .all_close { width: 60px; height: 60px; border: 0; background: #000 url('../images/common/btn_close.jpg') center; cursor: pointer; font-size: 0; position: absolute; right: 0; top: 0; }

.popup { padding: 10px; background: var(--main-color); text-align: center; }
.popup a { color: #fff; }
.popup i { float: right; color: #fff; font-size: 3rem; cursor: pointer; transform: translateY(-10px); }

/* header */
#header { padding: 10px 0; position: relative;}
#header .inner { max-width: 100%; align-items: flex-end; display: flex; justify-content: space-between; }

#header h1 img { display: block; }


/* gnb */
#header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li::before { content: ''; display: block; width: 8px; height: 8px; border-radius: 50%; background: var(--sub-color); position: absolute; left: calc(50% - 4px); top: -15px; opacity: 0; transition: all 0.5s; }
#header .gnb > li:hover::before { top: 0; opacity: 1; }
#header .gnb > li > a { transition: all 0.5s; display: block; padding: 10px 40px; font-size: 2rem; }
#header .gnb > li:hover > a { color: var(--sub-color); }

#header .gnb > li .depth2 { z-index: 30; position: absolute; width: 600px; display: flex; }
#header .gnb > li .depth2 li a { display: block; padding: 30px 15px 10px; color: #fff; }

#header .depth2_bg { position: absolute; width: 100%; height: 60px; background: var(--sub-color); left: 0; top: 70px; z-index: 25; }

.mgnb_wrap { position: fixed; left: 0; top: 0; background: #fff; width: 100%; height: 100%; z-index: 60; padding: 50px 20px; }
.mgnb_wrap .mgnb { border-top: 1px solid #000; }
.mgnb_wrap .mgnb > li { border-bottom: 1px solid #ddd; }
.mgnb_wrap .mgnb > li > a { pointer-events: none; font-size: 2rem; display: block; padding: 10px 0; } /* pointer-events: none; 클릭방지 */
.mgnb_wrap .mgnb > li .mdepth2 li a { position: relative; display: block; font-size: 1.4rem; padding: 5px 20px; color: #666; }
.mgnb_wrap .mgnb > li .mdepth2 li a::before { content: ''; display: block; width: 5px; height: 5px; background: #ccc; border-radius: 50%; position: absolute; left: 5px; top: calc(50% - 3px); }
.mgnb_wrap .mgnb_close { position: absolute; right: 20px; top: 20px; border: 0; background: #fff; cursor: pointer; font-size: 2.5rem; }

#header .util { display: flex; gap: 20px; align-items: center; }
#header .util img { width: 24px; }

#header .util .btn_mgnb { display: none; }


#header .util .language { font-size: 1.4rem; color: #666; text-transform: uppercase; }
#header .util .language i.active::before { transform: rotate(180deg); }
#header .util .language ul { padding: 20px; transform: translateX(-10px); position: absolute; background: #fff; z-index: 40; }


.search { padding-top: 100px; position: absolute; left: 0; top: 73px; width: 100%; background: #fff; height: 250px; z-index: 35; border-top: 1px solid #ddd; }
.search .search_area { display: flex; justify-content: center; }
.search .search_area input[type="text"] { background: #eee; width: 500px; height: 50px; border-radius: 50px 0 0 50px; padding: 5px 20px; font-size: 1.6rem; font-family: var(--main-font); }
.search .search_area input[type="submit"] { background: #eee url('../images/common/search.png') no-repeat center; border-radius: 0 50px 50px 0; width: 50px; height: 50px; font-size: 0; cursor: pointer; }
.search .search_close { border: 0; background: #000; color: #fff; padding: 2px 5px; border-radius: 50%; font-size: 3rem; cursor: pointer; position: absolute; left: 50%; bottom: 0; transform: translate(-50%,15px); }

@media (max-width:1400px) {
  #header h1 { transform: scale(0.8); }
  #header nav { display: none; }
  #header .util .btn_mgnb { display: block; }
  #header .util .btn_sitemap { display: none; }
}

@media (max-width:768px) {
  #header .util .language { display: none; }
}

/* footer */
#footer { background: #eee; padding: 150px 0; }
#footer .inner { max-width: 100%; }
#footer .footer_top { gap: 20px; padding: 0 0 20px; flex-wrap: wrap; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 1px solid #ddd; }
#footer .footer_member { display: flex; gap: 20px; }
#footer .cs_call span { display: block; color: var(--sub-color); font-size: 3rem; font-weight: 700; }

#footer .footer_bottom { gap: 20px; flex-wrap: wrap; padding: 30px 0 0; display: flex; justify-content: space-between; }
#footer .footer_link { display: flex; gap: 20px; }
#footer address { color: #999; padding: 20px 0 0; }
#footer .copy { color: #ccc; }

@media (max-width:1000px) {
  #footer .footer_top > * { width: 100%; }
  #footer .footer_bottom > * { width: 100%; }
}

@media (max-width:768px) {
  #footer { padding: 100px 0; font-size: 1.2rem; }
}